/* header-footer.css */

/* General Footer Styles */
footer {
    background: black;
    color: #ecf0f1;
    padding: 50px 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 10;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  /* Footer Sections */
  .footer-section {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
  }
  
  .footer-section h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ecf0f1;
    position: relative;
  }
  
  .footer-section h4::after {
    content: '';
    width: 60px;
    height: 4px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footer-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #bdc3c7;
  }
  
  .footer-section a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #ff7e5f;
  }
  
  
  .social-links {
    display: flex;
    gap: 20px;
  }
  
  .social-icon {
    font-size: 1.3rem;
    color: #ecf0f1;
    padding: 10px;
    border-radius: 50%;
    
    background-color: #34495e;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
    background-color: #ff7e5f;
  }
  
  .social-icon i {
    transition: color 0.3s ease;
  }
  
  .social-icon:hover i {
    color: #fff;
  }
  
  /* Footer Bottom */
  .footer-bottom {
    text-align: center;
    font-size: 1rem;
    color: #bdc3c7;
    margin-top: 30px;
    border-top: 1px solid #34495e;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 1rem;
    margin: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  }
  